=ink_row(:class => 'footer') do
  =ink_column(6) do
    =ink_left_text_pad do
      =partial '_partials/_content/connect_content'

  =ink_column(6) do
    =ink_right_text_pad do
      =partial '_partials/_content/contact_info'