---
title: Centered Content With Panels
---
= ink_container do

  = ink_row do
    =ink_column(6) do
      =ink_content(%w{center panel}) do
        Centered content
    =ink_column(6) do
      =ink_content(%w{center panel}) do
        %img.center{:src => 'http://placehold.it/125x125&text=Centered%20Image'}