= ink_css do
  =partial '_partials/_structure/custom_css'

=partial '_partials/_structure/header'

= ink_container do
  =partial '_partials/_structure/main_row'
  =partial '_partials/_structure/callout_row'
  =partial '_partials/_structure/footer_row'
  =partial '_partials/_structure/links_row'