!!! Strict
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width", :name => "viewport"}/

    =inline_ink_css
  %body
    %table{:class => (classes << 'body').join(' '), :style =>  (style if defined? style)}
      %tr
        %td.center{:align => "center", :valign => "top"}
          %center

            =content
