%td{:class => 'wrapper' + (last ? ' last' : '') + ((defined? offset )? " offset-by-#{HtmlEmails::size_as_word(offset)}" : '' ) }
  %table{:class => (classes << [size, 'columns']).join(' '), :style =>  (style if defined? style)}
    %tr
      = content
      %td.expander