%table{:class => (classes << 'row').join(' '), :style =>  (style if defined? style)}
  %tr
    %td.center{:align => 'center'}
      %center
        %table.container
          %tr
            = content