%h5 Connect With Us
%br
=ink_button(:size=>'tiny', :class=>'facebook') do
  Facebook
%br
=ink_button(:size=>'tiny', :class=>'twitter') do
  Twitter
%br
=ink_button(:size=>'tiny', :class=>'google-plus') do
  Google+