---
title: Example with two columns in one row
---
= ink_container(:classes => %w{main area}) do
  = ink_row do
    =ink_column('eight') do
      Eight Columns

    =ink_column('four', :last=>true) do
      Four Columns