---
title: A new HTML email
---

%table.container
  %tr
    %td
      %table.row
        %tr
          %td.wrapper
            %table.eight.columns
              %tr
                %td
                  Eight Columns
                %td.expander
          %td.wrapper.last
            %table.four.columns
              %tr
                %td
                  Four Columns
                %td.expander
