---
title: Example with two columns in one row
---
= ink_container do
  %table.row
    %tr
      %td.wrapper
        %table.eight.columns
          %tr
            %td
              Eight Columns
            %td.expander
      %td.wrapper.last
        %table.four.columns
          %tr
            %td
              Four Columns
            %td.expander